
trigger:
- master
- azure-pipelines

pool:
  name: 'Pool'

variables:
  buildConfiguration: 'Release'

stages:
  - stage: Build

    jobs: 
    - job: Build
      steps:

      - task: DotNetCoreCLI@2
        inputs:
          command: 'publish'
          publishWebProjects: true
          arguments: '-o $(Build.ArtifactStagingDirectory)'
          modifyOutputPath: false

      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'

  - stage: Deploy_Dev

    jobs:
      - deployment: Deploy_Dev
        environment: Dev
        strategy: 
          runOnce:
            deploy:
              steps:

              - task: DownloadBuildArtifacts@0
                inputs:
                  buildType: 'current'
                  downloadType: 'single'
                  artifactName: 'drop'
                  downloadPath: '$(System.ArtifactsDirectory)'

              - task: AzureRmWebAppDeployment@4
                inputs:
                  ConnectionType: 'AzureRM'
                  azureSubscription: '$(ServiceEndpointName)'
                  appType: 'webApp'
                  WebAppName: 'wa-mvpconf-devops-as-code'
                  packageForLinux: '$(System.ArtifactsDirectory)/**/*.zip'